---
import Section from "./Section.astro";
---

<Section
    title="Solar y PowerWall"
    subtitle="Cargar de la manera mas sencilla y agradable al ambiente"
    color="black"
    id="powerwall">

    <div class="flex mx-auto"
         slot="footer">
        <a  href="#"
            class="bg-white text-sm rounded font-medium px-12 py-2 transition-colors  hover:bg-black hover:text-white inline-flex justify-center items-center"
        >
            Saber Más
        </a>
    </div>

    <img 
    slot="background"
    src="powerwall.avif" 
    class="object-center object-cover h-full w-full"
    alt="Imagen PowerWall">

</Section>